
{% if session.username %}

{% extends "layout.html" %}
{% block title %}Main page{% endblock %}
{% block content %}
<h2>Main page</h2>


{{ message if message else ""}}
{{ error if error else "" }}


{% endblock %}

{% else %}

<title>BiReader</title>
<h1>BiReader</h1>
<a href="/login">Login</a> &nbsp;&nbsp;&nbsp;    
<a href="/register">Register</a>

<hr>
{{ message if message else ""}}
{{ error if error else "" }}
<br/>
<a href="{{ request.headers.get('Referer') }}">Return to previous page</a>
<hr>
 <a href="https://github.com/jakubgrad/Tietokannat-ja-web-ohjelmointi-Projekti">Github</a>

{% endif %}
