{% if session.username %}
<p>Hi {{ session.username }} :))</p>
<p>Here are your books:</p>
<a href="/create_new_pair">New book pair</a><br></br>
<a href="/view_pairs">View your pairs of pdfs</a><br></br>
<a href="/upload">Upload a pdf</a><br></br><br></br>
<a href="/view_uploads">See uploaded pdfs</a><br></br>
<a href="/logout">Log out</a><br></br>
{% else %}
Viestien määrä: {{ count }}
<hr>
{% for message in messages %}
{{ message.content }}
<hr>
{% endfor %}
<a href="/new">Send a message</a><br></br>
<a href="/register">Register</a><br></br>
<a href="/login">Log in</a><br></br>
{% endif %}


