<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>BiReader - {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light">
            <a class="navbar-brand" href="/">BiReader</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/view_uploads">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_pairs">Pairs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create_new_pair">New pair</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
        <div class="row">
            <div class="col-8">
                <h1>{% block heading %}{% endblock %}</h1>
                {% block content %}{% endblock %}
            </div>
            <div class="col-4">
                {% if quick_bookmarks %}
                    <h2>Last read</h2>
                {% else %}
                    <h2>Continue reading...</h2>
                {% endif %}
                <p align="center" class="text-justify">
                {% if quick_bookmarks %}
                    {% for quick_bookmark in quick_bookmarks %}
                        <p>
                            <form action="/read_pair/{{ quick_bookmark[0] }}" style="display: inline;" method="POST">
                                <input type="text" name="counter" style="display: none;" value="{{ counter if counter else 0 }}">
                                <input type="text" name="counter1" style="display: none;" value="{{ counter1 if counter1 else 0 }}">
                                <input type="text" name="counter2" style="display: none;" value="{{ counter2 if counter2 else 0 }}">
                                <input type="number" style="display: none;" name="bookmark_id" value={{quick_bookmark[1]}}>
                                <input type="hidden" name="form_purpose" value="load_bookmark">
                                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                                <button type="submit" style="border: none; background: none; color: blue; cursor: pointer;">{{ quick_bookmark[5] }}</button>
                            </form>
                        </p>
                    {% endfor %}
                {% else %}
                    No bookmarks yet
                {% endif %}
                </p>
            </div>
        </div>
    </div>
    <footer style="flex-shrink: 0; background-color: rgba(0, 0, 0, 0.05); text-align: center; padding: 10px 0; width: 100%; position: fixed; bottom: 0;">
        <div style="text-center;">
            2024 Jakub Grad <a href="https://github.com/jakubgrad/Tietokannat-ja-web-ohjelmointi-Projekti">Github</a>
        </div>
    </footer>
</body>
</html>
