{% extends "layout_logged_out.html" %}
{% block title %}Main page{% endblock %}
{% block content %}

<h2>Login page</h2>

{% if message_id==0 %}
<form action="/login" method="POST" style="display: inline;">
Log in using your credentials: <br>
<input type="text" name="username" placeholder="Username..." rows="3" cols="40" required></input><br/>
<input type="text" type="password" name="password" placeholder="Password..." rows="3" cols="40" required></input>
<br>
<input type="submit" value="Log in">
</form>
{% else %}
Something went wrong. Either the user doesn't exist or the password is wrong.
<a href="/login">Go back</a>
{% endif %}

{% endblock %}
