<form action="/process_pdf" method="post" enctype="multipart/form-data">
        Upload a PDF <br>
        <input type="file" name="pdf-file" style="padding:10px" required><br>
        <input type="title" name="title" placeholder="Title..." ><br>
        <input type="author" name="author" placeholder="Author..." ><br>
        <input type="language" name="language" placeholder="language..." ><br>
        <input type="isbn" name="isbn" placeholder="isbn..." ><br>
        <input type="submit" value="Upload!"><br>

</form>
