
{% if session.username %}
{% extends "layout.html" %}
{% block title %}Main page{% endblock %}
{% block content %}
<h2>Upload pdf</h2>


<form action="/process_pdf" method="post" enctype="multipart/form-data">
        Upload a PDF <br>
        <input type="file" name="pdf-file" style="padding:10px" required><br>
        <input type="title" name="title" placeholder="Title..." required><br>
        <input type="author" name="author" placeholder="Author..." > <i>optional</i><br>
        <input type="language" name="language" placeholder="language..." > <i>optional</i><br>
        <input type="isbn" name="isbn" placeholder="isbn..." > <i>optional</i><br>
        <input type="submit" value="Upload!"><br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}

{% else %}
It appears you are not logged on.
{% endif %}
